//• Dark Blue background: #01286e; RGB: 0,68,180; CMYK: 100, 35, 0, 0
//• Light Blue background: #3993e8; RGB: 83,158,249; CMYK: 70, 0, 0, 0
//• Charcoal Grey background: #515151; RGB: 81, 81, 81; CMYK: 15, 0, 0, 60
//• Forest Green background: #344c2c; 60, 0, 100, 40
//• Sage Green background: a9a486; 3, 0, 10, 15,
//• Light Honey background: #e7c082; 0, 3, 22, 3
//• Gold web button gradient: #925d0d to #ddae2c; (10, 30,
$brand-dark-blue: #01286e;
$brand-light-blue: #3993e8;
$brand-charcoal-grey: #515151;
$brand-forest-green: #344c2c;
$brand-honey-yellow: #e7c082;
