@import "colors";
@import "core-layout";

@mixin big-bold-blue {
  font-size: 1.8rem;
  text-decoration: none;
  font-weight: bolder;
  color: $brand-dark-blue;
  &:visited {
    color: $brand-dark-blue;
  }
}

@mixin blue-border {
  border: 6px solid white;
  &:hover {
    border: 6px solid $brand-dark-blue;
  }
}

section.gallery-gap {
  display: grid;
  // For mobile first, aim for single column and decently wide photos
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  // Once screen will fit 2 side by side at decent size,
  // let photos get bigger
  @media (min-width: 900px) {
    grid-template-columns: repeat(auto-fill, minmax(425px, 1fr));
  }
  figure {
    margin: 0.4rem;
    margin-bottom: 2rem;
    img {
      display: block;
      margin: 0 auto;
    }
  }
  figcaption {
    text-align: center;
  }
}

section.gallery-nogap {
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.centered-column img {
  /* on small screens like phones, images can
   * fill most of the screen and should fit OK
   */
  max-width: 100%;

  /* on larger screen like tablets, reduce size so
   * content above and below fits in the viewport
   */
  @media (min-width: 700px) {
    max-width: 60%;
  }
}

section.photo-galleries {
  @include centered-column;

  a {
    @include big-bold-blue;
  }

  figure.photo {
    margin-bottom: 2rem; // override
    @include blue-border;
    &:hover {
      opacity: 80%;
    }

    figcaption {
      text-align: center;
    }
  }

  figure.instagram {
    @include blue-border;
    // margin: 0;
    padding: 1em;
    a {
      @include big-bold-blue;
    }
  }
}
