@import "colors";
@import "core-layout";

@mixin big-bold-blue {
  font-size: 1.8rem;
  text-decoration: none;
  font-weight: bolder;
  color: $brand-dark-blue;
  &:visited {
    color: $brand-dark-blue;
  }
}

@mixin blue-border {
  border: 6px solid white;
  &:hover {
    border: 6px solid $brand-dark-blue;
  }
}

section.gallery-gap {
  padding: 1em;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
}

section.gallery-nogap {
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

section.photo-galleries {
  @include centered-column;

  a {
    @include big-bold-blue;
  }

  figure.photo {
    margin-bottom: 2rem; // override
    @include blue-border;
    &:hover {
      opacity: 60%;
    }

    figcaption {
      text-align: center;
    }
  }

  figure.instagram {
    @include blue-border;
    // margin: 0;
    padding: 1em;
    a {
      @include big-bold-blue;
    }
  }
}
