@import "core-layout";

p {
  margin: 0;
  margin-bottom: 0.6em;
}

section.centered-column, header.centered-column {
  @include centered-column;
  img {
    margin-bottom: $pad;
  }
}

footer.centered-column {
  @include centered-column;
}

footer nav {
  a {
    color: white;
    text-decoration: none;
  }
  a + a {
    &:before {
      content: " | ";
    }
  }
}
