// Primary page layout is a single column with content centered horizontally.
// It is mobile-first and as screen size allows, additional columns are introduced side by side
section {
  display: grid;
  grid-template-columns: calc(min(90vw, 40em));
  justify-content: center; // unclear if this is needed/correct
  justify-items: center;
}

main > section > div {
  max-width: 40em;
}

section.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
}
