@import "core-layout";

p {
  margin: 0.6em;
}

footer.grid {
  @include centered-column;
}

footer nav {
  a {
    color: white;
    text-decoration: none;
  }
  a + a {
    &:before {
      content: " | ";
    }
  }
}
