@import "core-normalize";
@import "core-layout";
@import "layout";
@import "images";
@import "fonts";
@import "index";

// This is necessary to prevent gaps between main > section
// tags
* {
  margin: 0;
  padding: 0;
}

main > section {
  padding: 1em 1em;
  ul {
    padding-left: 1em;
  }
}

main > section * {
  max-width: unquote("min(100%, 40rem)");
}

p {
  margin-bottom: 1.5em;
}

