@import "core-normalize";
@import "core-layout";
@import "layout";
@import "images";
@import "fonts";
@import "index";
@import "frc";

* {
  margin: 0;
  padding: 0;
}

main > section {
  padding: 1em 1em;
}

main > section * {
  max-width: unquote("min(100%, 40rem)");
}

p {
  margin-top: 1.5em;
}

