@import "colors";
@import "core-layout";
.team-member {
  h2 {
    color: $brand-dark-blue; 
  }

  h3 {
    color: $brand-charcoal-grey;
    line-height: 80%;
  }
  &.pete img, &.percy img {
    @include float(left);
  }

  &.stella img {
    @include float(right);
  }
}
