<a href="/#intro" onclick="closeNav()">Introduction</a>
<a href="/#about" onclick="closeNav()">About Us</a>
<a href="/#place" onclick="closeNav()">Our Center</a>
<a href="/#program" onclick="closeNav()">The Program</a>
<a href="/photos" onclick="closeNav()">Photos</a>
<a href="/team" onclick="closeNav()">Team</a>
<a href="/" onclick="closeNav()">Upcoming Retreats</a>
<a href="/blog" onclick="closeNav()">Blog</a>
<a href="/conduct" onclick="closeNav()">Code of Conduct</a>
<!-- <a href="/#pricing" onclick="closeNav()">Pricing</a> -->
