<!-- fly-in nav -->
<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <a href="/#intro" onclick="closeNav()">Introduction</a>
  <a href="/#about" onclick="closeNav()">About Us</a>
  <a href="/#place" onclick="closeNav()">Our Center</a>
  <a href="/#program" onclick="closeNav()">The Program</a>
  <a href="/#retreats" onclick="closeNav()">Upcoming Retreats</a>
  <!-- <a href="/#pricing" onclick="closeNav()">Pricing</a> -->
</div>
