{% extends "layout.html" %}
{% block style -%}
{{ super() }}
{# as per special request from Mattie #}
.book-now {
  margin-bottom: 2em;
}

@media (min-width: 700px) {
  section.inktober img {
    max-width: 60%;
  }
}
{% endblock -%}
{% block main -%}
<section class="centered-column inktober">
  {% if page.content is defined -%}{{ page.content | safe }}{% endif -%}
  {% if section.content is defined -%}{{ section.content | safe }}{% endif -%}
</section>
<!-- Event snippet for Book Retreat Start conversion page
In your html page, add the snippet and call gtag_report_conversion when someone clicks on the chosen link or button. -->
<script>
function gtag_report_conversion_book(url) {
  var callback = function () {
    if (typeof(url) != 'undefined') {
      window.location = url;
    }
  };
  gtag('event', 'conversion', {
      'send_to': 'AW-11317191268/J7TOCK7o1NoYEOTEupQq',
      'event_callback': callback
  });
  return false;
}
</script>

{% endblock -%}
