<!DOCTYPE html>
<html lang="en">
  <head>
    {% block meta -%}
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {% endblock meta -%}
    {# Formatting is weird here to avoid leading/trailing
    whitespace within tags #}
    <title>{% block title -%}{% if page.title is defined -%}{{ page.title }}{%- endif
      -%}{% if section.title is defined -%}{{ section.title }}{% endif -%}|{{
      config.extra.company_name }}{% endblock title -%}
    </title>

    {% block style -%} {% include "partials/google-fonts.html" %}
    <link rel="stylesheet" href="/screen2.css" />
    <!-- Mailchimp -->
    <link
      href="//cdn-images.mailchimp.com/embedcode/classic-10_7_dtp.css"
      rel="stylesheet"
      type="text/css"
    />
    <style type="text/css">
      #mc_embed_signup {
        background: #fff;
        clear: left;
        font: 14px Helvetica, Arial, sans-serif;
        width: 600px;
      }
      /* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
      #mc_embed_signup {
        margin: auto;
      }
    </style>
    {% endblock style -%}

    <script>
      {% block scripts -%}
      {% endblock scripts -%}
    </script>
  </head>
  <body>
    <!-- Primary Page Layout -->
    <main>{% block main -%} {% endblock -%}</main>
    <footer class="grid bg-light-blue">{% block footer -%}
      <img class="logo-inline" src="/images/frc-logo-inline-color-500.png" alt="Focus Retreat Center Logo"/>
      <nav>
      {% include "partials/nav.html" -%}
      </nav>
      {% endblock -%}</footer>
  </body>
</html>
