<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs -->
  <meta charset="utf-8">
  <title>
    {% block title -%}
    {% if page.title is defined -%}{{ page.title }}{%- endif -%}
    {% if section.title is defined -%}{{ section.title }}{% endif %} | {{ config.extra.company_name }}
    {% endblock title -%}
  </title>

  {% block style -%}
  <!-- FONT -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@400;700&display=swap" rel="stylesheet">
 
  <!-- CSS -->
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/skeleton.css">
  <link rel="stylesheet" href="/css/custom.css">

  <!-- Favicon -->
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">

  <!-- Mailchimp -->

  <link href="//cdn-images.mailchimp.com/embedcode/classic-10_7_dtp.css" rel="stylesheet" type="text/css">
  <style type="text/css">
#mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif;  width:600px;}
/* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
#mc_embed_signup {
  margin: auto;
}
  </style>

  {% endblock style -%}

  {% block meta -%}
  <!-- Mobile Specific Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta name="description" content="{{ config.extra.company_name }} is a space for personal growth, surrounded by supportive peers, free from distractions.">
  <meta name="keywords" content="retreats programming adirondacks coding writing immersive malone ny">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">
  {% endblock meta -%}

  {% block opengraph -%}
  <!-- Twitter -->
  <meta name="twitter:card" content="summary"/>
  <meta name="twitter:description" content="{{ config.extra.company_name }} is a space for personal growth, surrounded by supportive peers, free from distractions."/>
  <meta name="twitter:title" content="{{ config.extra.company_name }} - Immersive project/learning retreats in northern New York"/>
  <meta name="twitter:image" content="/images/frc-logo.jpg"/><meta name="twitter:site" content="@focusretreats"/>

  <!-- Facebook -->
  <meta property="og:url" content="https://focusretreatcenter.com" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="{{ config.extra.company_name }} - Immersive project/learning retreats in northern New York" />
  <meta property="og:description" content="{{ config.extra.company_name }} is a space for personal growth, surrounded by supportive peers, free from distractions." />
  <meta property="og:image" content="{{ config.base_url| safe }}/images/frc-building-front-20220504.jpg" />
  {% endblock opengraph -%}

  <script>
  {% block scripts -%}

    // nav
    function openNav() {
          document.getElementById("mySidenav").style.width = "300px";
        }

    function closeNav() {
          document.getElementById("mySidenav").style.width = "0";
        }
  {% endblock scripts -%}
  </script>
</head>
<body>

<!-- fly-in nav -->
<div id="mySidenav" class="sidenav">
<button class="closebtn" onclick="closeNav()">&times;</button>
{% include "partials/nav.html" -%}
</div>
{% set wide = false -%}

<!-- Primary Page Layout -->
{% block container -%}
<div class="container">
{% endblock -%}
  <div class="hamburger"><span onclick="openNav()"><img src="/images/hamburger.png" alt="menu"></span></div>

  {% block body -%}
  {% endblock -%}
  <footer class="row offset-by-one column">
    <hr>
    {% block footer -%}
    <div class="navigation">
      {% include "partials/nav.html" -%}
    </div>
    {% endblock -%}
  </footer>
</div>


</body>
</html>
