<!DOCTYPE html>
<html lang="en">
  <head>
    {% block meta -%}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta
      name="description"
      content="{{ config.extra.company_name }} is a space for personal growth, surrounded by supportive peers, free from distractions.">
    <meta
      name="keywords"
      content="retreats programming adirondacks coding illustration drawing writing immersive malone ny">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    {% endblock meta -%}
    {# fallback default #}
    {% set title = config.extra.company_name %}
    {% if page.title is defined and page.title -%}{% set title = page.title ~ "|" ~ config.extra.company_name %}{%- endif -%}
    {% if section.title is defined and section.title -%}{% set title = section.title ~ "|" ~ config.extra.company_name %}{%- endif -%}
    <title>{% block title -%}{{ title }}{% endblock title -%}</title>
    {% include "partials/google-fonts.html" %}
    <link rel="stylesheet" href="/screen.css">
    <link rel="preload" as="image" href="/images/FocusRetreat-topimage-1600.jpg">
    <link rel="preload" as="image" href="/images/frc-logo@2x.png">
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">

    {% include "partials/mailchimp-head.html" %}
    {% include "partials/google-tag.html" %}
    <script>
      {% block scripts -%}
      {% endblock scripts -%}
    </script>
    <style>
      {% block style -%}
      {% endblock style -%}
    </style>
    {% block opengraph -%}
    {# fallback default description #}
    {% set description = config.extra.company_name ~ " runs retreats for coding, illustration, writing, learning new skills, and working groups." %}
    {% if page.description is defined and page.description -%}{% set description = page.description %}{%- endif -%}
    {% if section.description is defined and section.description -%}{% set description = section.description %}{%- endif -%}

    {# fallback default image #}
    {% set image = "/images/FocusRetreat-cover-1200.jpg" %}
    {% if page.extra.image is defined and page.extra.image -%}{% set image = page.path ~ page.extra.image %}{%- endif -%}
    {% if section.extra.image is defined and section.extra.image -%}{% set image = section.slug ~ section.extra.image %}{%- endif -%}
    <!-- Twitter -->
    <meta name="twitter:site" content="@focusretreats">
    <meta name="twitter:creator" content="@focusretreats">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="{{ title }}">
    <meta name="twitter:description" content="{{description}}">
    <meta name="twitter:image" content="{{image|safe}}">
    <meta name="twitter:site" content="@focusretreats">

    <!-- Facebook -->
    <meta property="og:url" content="https://focusretreatcenter.com">
    <meta property="og:type" content="website">
    <meta property="og:title" content="{{ title }}">
    <meta property="og:description" content="{{description}}">
    <meta property="og:image" content="{{image|safe}}">
    {% endblock opengraph -%}
  </head>
  <body>
    <button class="open-nav">&equiv;</button>
    <nav class="menu">
      <button class="close-nav">&times;</button>
      {% include "partials/nav.html" -%}
    </nav>
    {% block header %}
    <header class="centered-column">
      <a href="/">
        <img
          class="logo-inline"
          src="/images/frc-logo-inline-color-500.png"
          alt="Focus Retreat Center Logo">
      </a>
      {% if page is defined %}
      <h1>{{ page.title }}</h1>

      {% if page.date %}
      <div class="author">
        {% if page.extra.author %} {{ page.extra.author }}{% endif %}
      </div>
      <div class="post-date">
        {{ page.date | date(format="%B %e, %Y", timezone="America/New_York") }}
      </div>
      <hr>
      {% endif -%} {% endif -%}
    </header>
    {% endblock -%}

    <main>
      {% block main -%} {%if section.content is defined -%} {{ section.content |
      safe }}{% endif -%} {%if page.content is defined -%} {{ page.content |
      safe }}{% endif -%} {% endblock -%}
    </main>

    <footer class="centered-column bg-light-blue">
      {% block footer -%}
      <a href="/"
        ><img
          class="logo-inline"
          src="/images/frc-logo-inline-color-500.png"
          alt="Focus Retreat Center Logo">
      </a>

      <nav>{% include "partials/nav.html" -%}</nav>
      {% endblock -%}
    </footer>
    <script type="text/javascript" src="/navigation.js"></script>
  </body>
</html>
