{% extends "layout.html" %}
{% block body -%}
{{ super() }}
<a href="/">
<img class="logo-inline" src="/images/frc-logo-inline-color-500.png" alt="Focus Retreat Center Logo">
</a>
<h1>{{ page.title }}</h1>
{% if page.date %}
<div class="row">
  <div class="nine columns">
    {% if page.extra.author %}
    {{ page.extra.author }}
    {% endif %}
  </div>
  <div class="post-date three columns">
    {{ page.date | date(format="%B %e, %Y", timezone="America/New_York") }}
  </div>
</div>
<hr>
{% endif %}
{{ page.content | safe }}
{% endblock -%}
