{% extends "layout.html" %} {% block main %} {{ super() }}
<section class="grid">
  <img
    class="logo-inline"
    src="/images/frc-logo-inline-color-500.png"
    alt="Focus Retreat Center Logo"
  />
</section>

<section class="blog-post-list">
  <h1>
    Blog
    <a class="blog-subscribe" href="/atom.xml">
      <img
        class="icon"
        src="/images/feed.png"
        height="24"
        alt="Subscribe to our blog"
        title="Subscribe to our blog"
      />
    </a>
  </h1>
  {% for page in section.pages -%}
  <div class="blog-post-link">
    <a class="" href="{{ page.path }}">{{ page.title }}</a>
    <div class="date">{{ page.date | date(format="%B %e, %Y") }}</div>
  </div>
  {% endfor -%}
</section>
{% endblock -%}
