{% extends "1-column.html" -%}
{% block header -%} {{ super() }} {% endblock -%}
{% block main -%} {{ super() }}
<section class="blog-post-list">
  <h1>
    Blog
    <a class="blog-subscribe" href="/atom.xml">
      <img
        class="icon"
        src="/images/feed.png"
        height="24"
        alt="Subscribe to our blog"
        title="Subscribe to our blog"
      />
    </a>
  </h1>
  {% for page in section.pages -%}
  <article class="blog-post-link">
    <a class="title" href="{{ page.path }}">
      <h4>{{ page.title }}</h4>
      <date class="date">{{ page.date | date(format="%b %e, %Y") }}</date>
    </a>
  </article>
  {% endfor -%}
</section>
{% endblock -%}
